
.jumbotron{
	background-color: #62d8f5;
	padding: 50px;
}

footer{
	padding:10px 10px 0 10px;
	background-color: #62d8f5;
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 40px;
}

.btn {
	background-color: #3fc4d6;
}
.card-hotel{   /*con la clase hago que todas las fichas de hotel tengan el mismo ancho*/
	flex: 1 180px;  /* flex: por cuanto multiplico el tamaño, ancho definido; */
	padding:2px 4px 2px 4px;
					/*Al darle flex a esta clase, ya no necesito que tengan clase columna*/    
	margin-top: 10px;
}

.btn-reserva{
	width: 200;

}